{% extends "base.html" %}

{%- block head %}
<!-- 卡片 -->
<link rel="stylesheet" href={{ get_url(path="css/page/card.css") | safe }}>
<!-- tags -->
<link rel="stylesheet" href={{ get_url(path="css/page/tags.css") | safe }}>
<!-- 分页 -->
<link rel="stylesheet" href={{ get_url(path="css/page/pagination.css") | safe }}>
{% endblock head -%}

{%- block main %}
<div class="tag-wrap">
    <h1 class="tag-name">Tags</h1>
    <div class="card-wrap">
        {%- for term in terms %}
        <div class="box">
            <span></span>
            <div class="content">
                <h2>#{{ term.name }}</h2>
                <a class="link" href="{{ term.permalink }}" target="_blank">Check all</a>
            </div>
        </div>
        {%- endfor %}
    </div>
</div>
<div class="pagination">{# 分页按钮 #}
    {% if paginator.previous %}<a class="prev" href="{{ paginator.previous }}">← Previous</a>{% else %}<!--Hidden Previous-Button-->{% endif %}
    {% if paginator.next %}<a class="next" href="{{ paginator.next }}">Next →</a>{% else %}<!--Hidden Next-Button-->{% endif %}
</div>
{% endblock main -%}