{% macro loading() %}
<div class="left"></div>
<div class="right"></div>
<script>
    $(window).on("load", function () {
        $(".loading").addClass("loaded")
    });
    $(window).on("load", function () {
        setTimeout(function () {
            $(".loading").fadeOut("slow");
        }, 1000);
    });
</script>
{% endmacro loading %}

{% macro loading1() %}
<!--加载动画组件-->
<link rel="stylesheet" href={{ get_url(path="css/basic/loading-1.css") | safe }}>
<div class="wrapper">
    <div class="line line1">
        <span class="circle circle-top"></span>
        <div class="dotted">
            <span class="dot dot-top"></span>
            <span class="dot dot-middle-top"></span>
            <span class="dot dot-middle-bottom"></span>
            <span class="dot dot-bottom"></span>
        </div>
        <span class="circle circle-bottom"></span>
    </div>
    <div class="line line2">
        <span class="circle circle-top"></span>
        <div class="dotted">
            <span class="dot dot-top"></span>
            <span class="dot dot-middle-top"></span>
            <span class="dot dot-middle-bottom"></span>
            <span class="dot dot-bottom"></span>
        </div>
        <span class="circle circle-bottom"></span>
    </div>
    <div class="line line3">
        <span class="circle circle-top"></span>
        <div class="dotted">
            <span class="dot dot-top"></span>
            <span class="dot dot-middle-top"></span>
            <span class="dot dot-middle-bottom"></span>
            <span class="dot dot-bottom"></span>
        </div>
        <span class="circle circle-bottom"></span>
    </div>
    <div class="line line4">
        <span class="circle circle-top"></span>
        <div class="dotted">
            <span class="dot dot-top"></span>
            <span class="dot dot-middle-top"></span>
            <span class="dot dot-middle-bottom"></span>
            <span class="dot dot-bottom"></span>
        </div>
        <span class="circle circle-bottom"></span>
    </div>
    <div class="line line5">
        <span class="circle circle-top"></span>
        <div class="dotted">
            <span class="dot dot-top"></span>
            <span class="dot dot-middle-top"></span>
            <span class="dot dot-middle-bottom"></span>
            <span class="dot dot-bottom"></span>
        </div>
        <span class="circle circle-bottom"></span>
    </div>
    <div class="line line6">
        <span class="circle circle-top"></span>
        <div class="dotted">
            <span class="dot dot-top"></span>
            <span class="dot dot-middle-top"></span>
            <span class="dot dot-middle-bottom"></span>
            <span class="dot dot-bottom"></span>
        </div>
        <span class="circle circle-bottom"></span>
    </div>
    <div class="line line7">
        <span class="circle circle-top"></span>
        <div class="dotted">
            <span class="dot dot-top"></span>
            <span class="dot dot-middle-top"></span>
            <span class="dot dot-middle-bottom"></span>
            <span class="dot dot-bottom"></span>
        </div>
        <span class="circle circle-bottom"></span>
    </div>
    <div class="line line8">
        <span class="circle circle-top"></span>
        <div class="dotted">
            <span class="dot dot-top"></span>
            <span class="dot dot-middle-top"></span>
            <span class="dot dot-middle-bottom"></span>
            <span class="dot dot-bottom"></span>
        </div>
        <span class="circle circle-bottom"></span>
    </div>
    <div class="line line9">
        <span class="circle circle-top"></span>
        <div class="dotted">
            <span class="dot dot-top"></span>
            <span class="dot dot-middle-top"></span>
            <span class="dot dot-middle-bottom"></span>
            <span class="dot dot-bottom"></span>
        </div>
        <span class="circle circle-bottom"></span>
    </div>
    <div class="line line10">
        <span class="circle circle-top"></span>
        <div class="dotted">
            <span class="dot dot-top"></span>
            <span class="dot dot-middle-top"></span>
            <span class="dot dot-middle-bottom"></span>
            <span class="dot dot-bottom"></span>
        </div>
        <span class="circle circle-bottom"></span>
    </div>
    <div class="line line11">
        <span class="circle circle-top"></span>
        <div class="dotted">
            <span class="dot dot-top"></span>
            <span class="dot dot-middle-top"></span>
            <span class="dot dot-middle-bottom"></span>
            <span class="dot dot-bottom"></span>
        </div>
        <span class="circle circle-bottom"></span>
    </div>
</div>
{% endmacro loading1 %}

{% macro loading2() %}
<!--加载动画组件-->
<link rel="stylesheet" href={{ get_url(path="css/basic/loading-2.css") | safe }}>
<div class="wrapper">
    <div class="rocket">
        <i class="iconfont icon-huojian"></i>
        <i class="iconfont icon-yun" style = "--i:0;"></i>
        <i class="iconfont icon-yun" style = "--i:1;"></i>
        <i class="iconfont icon-yun" style = "--i:2;"></i>
        <i class="iconfont icon-yun" style = "--i:3;"></i>
    </div>
    <span><i></i></span>
</div>
{% endmacro loading2 %}