{% extends "base.html" %}

{% block main %}
<link rel="stylesheet" href="/css/resource/card-box.css">
        <div class="card-wrapper">

            <div class="card-box">
                <p class="topic">Course</p>
                <a class="more">More</a>
                <div class="cards">
                    <div class="card">
                        <div class="content">
                            <h2>Rust</h2>
                            <p>简单的Rust教程(持续更新中)</p>
                            <a href="course/rust/index.html" target="_blank">Read More</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <h2>2</h2>
                            <p>none</p>
                            <a href="#" target="_blank">Read More</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <h2>3</h2>
                            <p>none</p>
                            <a href="#" target="_blank">Read More</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <h2>4</h2>
                            <p>none</p>
                            <a href="#" target="_blank">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-box">
                <p class="topic">none</p>
                <a class="more">More</a>
                <div class="cards">
                    <div class="card">
                        <div class="content">
                            <h2>none</h2>
                            <p>可视化元素周期表</p>
                            <a href="PTE/" target="_blank">Read More</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <h2>2</h2>
                            <p>none</p>
                            <a href="#" target="_blank">Read More</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <h2>3</h2>
                            <p>none</p>
                            <a href="#" target="_blank">Read More</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <h2>4</h2>
                            <p>none</p>
                            <a href="#" target="_blank">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock main %}